<a href="https://colab.research.google.com/github/Vivek-Sajjan/Conversational-AI-Project/blob/main/Twitter_Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('twcs.csv')

In [ ]:
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

In [3]:
df.shape

(1048575, 7)

In [4]:
df.columns

Index(['tweet_id', 'author_id', 'inbound', 'created_at', 'text',
       'response_tweet_id', 'in_response_to_tweet_id'],
      dtype='object')

In [5]:
df.dtypes

tweet_id                     int64
author_id                   object
inbound                       bool
created_at                  object
text                        object
response_tweet_id           object
in_response_to_tweet_id    float64
dtype: object

In [6]:
# Identify missing values in each column
missing_values = df.isnull().sum()

# Display the count of missing values per column
display(missing_values)

tweet_id                        0
author_id                       0
inbound                         0
created_at                      0
text                            0
response_tweet_id          364715
in_response_to_tweet_id    280576
dtype: int64

In [10]:
# Filter the DataFrame where 'inbound' is False
outbound_tweets_df = df[df['inbound'] == False]

# Identify unique values in the 'author_id' column of the filtered DataFrame
unique_outbound_author_ids = outbound_tweets_df['author_id'].unique()

print ("total number of customers in twitter dataset:", len(unique_outbound_author_ids))

# Display the unique author IDs
display(unique_outbound_author_ids)

total number of customers in twitter dataset: 108

array(['sprintcare', 'Ask_Spectrum', 'VerizonSupport', 'ChipotleTweets',
       'AskPlayStation', 'marksandspencer', 'MicrosoftHelps',
       'ATVIAssist', 'AdobeCare', 'AmazonHelp', 'XboxSupport',
       'AirbnbHelp', 'nationalrailenq', 'AirAsiaSupport', 'Morrisons',
       'NikeSupport', 'AskAmex', 'McDonalds', 'YahooCare', 'AskLyft',
       'UPSHelp', 'Delta', 'AppleSupport', 'Uber_Support', 'Tesco',
       'SpotifyCares', 'British_Airways', 'comcastcares', 'AmericanAir',
       'TMobileHelp', 'VirginTrains', 'SouthwestAir', 'AskeBay',
       'hulu_support', 'GWRHelp', 'sainsburys', 'AskPayPal', 'HPSupport',
       'ChaseSupport', 'CoxHelp', 'DropboxSupport', 'VirginAtlantic',
       'BofA_Help', 'AzureSupport', 'AlaskaAir', 'ArgosHelpers',
       'Postmates_Help', 'AskTarget', 'GoDaddyHelp', 'CenturyLinkHelp',
       'AskPapaJohns', 'SW_Help', 'askpanera', 'Walmart',
       'USCellularCares', 'AsurionCares', 'GloCare', 'idea_cares',
       'DoorDash_Help', 'NeweggService', 'VirginAmerica',
       'Safaricom_Care', 'DunkinDonuts', 'Ask_WellsFargo', 'O2', 'TfL',
       'asksalesforce', 'airtel_care', 'Kimpton', 'AskCiti', 'IHGService',
       'LondonMidland', 'JetBlue', 'BoostCare', 'JackBox', 'AldiUK',
       'HiltonHelp', 'GooglePlayMusic', 'OfficeSupport', 'KFC_UKI_Help',
       'DellCares', 'TwitterSupport', 'GreggsOfficial', 'ATT',
       'TacoBellTeam', 'AskRBC', 'ArbysCares', 'NortonSupport',
       'AskSeagate', 'sizehelpteam', 'SCsupport', 'MOO', 'AskDSC',
       'AskVirginMoney', 'AskRobinhood', 'MTNC_Care', 'AWSSupport',
       'VMUcare', 'mediatemplehelp', 'AskTigogh', 'PandoraSupport',
       'askvisa', 'OPPOCareIN', 'ask_progressive', 'PearsonSupport',
       'CarlsJr', 'HotelTonightCX', 'KeyBank_Help'], dtype=object)

In [11]:
print ("total number of customers in twitter dataset:", len(unique_outbound_author_ids))

total number of customers in twitter dataset: 108

### Task:
Count how many times each unique author ID appears in the filtered DataFrame (`outbound_tweets_df`).

**Reasoning**:
Calculate the frequency of each unique author ID in the `outbound_tweets_df` DataFrame.

In [13]:
# Count the occurrences of each unique author ID
author_counts = outbound_tweets_df['author_id'].value_counts()

# Display the top 10 author counts
display(author_counts.head(10))

author_id
AmazonHelp         79139
AppleSupport       32945
Uber_Support       21411
Delta              16372
SpotifyCares       14328
AmericanAir        14324
Tesco              11430
British_Airways    11261
comcastcares       10860
TMobileHelp        10823
Name: count, dtype: int64

In [18]:
# Filter the DataFrame for tweets where 'author_id' is 'Delta' or the text starts with '@Delta'
delta_tweets_df = df[(df['author_id'].astype(str).str.lower() == 'delta') | (df['text'].astype(str).str.lower().str.contains('@delta'))]

# Specify the output filename
output_filename = 'Delta_Airline_tweets.csv'

# Save the filtered DataFrame to a new CSV file
delta_tweets_df.to_csv(output_filename, index=False)

print(f"Tweets related to Delta saved to {output_filename}")

Tweets related to Delta saved to Delta_Airline_tweets.csv

In [19]:
delta_tweets_df.shape

(34315, 7)

In [22]:
# Filter the DataFrame for tweets where 'author_id' is 'Uber_Support' or the text starts with '@Uber_Support'
uber_tweets_df = df[(df['author_id'].astype(str).str.lower() == 'uber_support') | (df['text'].astype(str).str.lower().str.contains('@uber_support'))]

# Specify the output filename
output_filename = 'Uber_Support_tweets.csv'

# Save the filtered DataFrame to a new CSV file
uber_tweets_df.to_csv(output_filename, index=False)

print(f"Tweets related to Uber saved to {output_filename}")

Tweets related to Delta saved to Uber_Support_tweets.csv

In [21]:
uber_tweets_df.shape

(39502, 7)

In [25]:
# Filter the DataFrame for tweets where 'author_id' is 'AppleSupport' or the text starts with '@AppleSupport'
apple_tweets_df = df[(df['author_id'].astype(str).str.lower() == 'applesupport') | (df['text'].astype(str).str.lower().str.contains('@applesupport'))]

# Specify the output filename
output_filename = 'AppleSupport_tweets.csv'

# Save the filtered DataFrame to a new CSV file
apple_tweets_df.to_csv(output_filename, index=False)

print(f"Tweets related to AppleSupport saved to {output_filename}")

Tweets related to AppleSupport saved to AppleSupport_tweets.csv

In [26]:
apple_tweets_df.shape

(65824, 7)