<a href="https://colab.research.google.com/github/Vivek-Sajjan/Conversational-AI-Project/blob/main/twitter_analysis_Delta_mongo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [1]:
!wget https://raw.githubusercontent.com/Vivek-Sajjan/Conversational-AI-Project/main/Dataset/Delta_Airline_tweets.csv

--2025-09-21 13:01:20--  https://raw.githubusercontent.com/Vivek-Sajjan/Conversational-AI-Project/main/Dataset/Delta_Airline_tweets.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5771978 (5.5M) [text/plain]
Saving to: ‘Delta_Airline_tweets.csv’

Delta_Airline_tweet 100%[===================>]   5.50M  --.-KB/s    in 0.07s

2025-09-21 13:01:21 (82.1 MB/s) - ‘Delta_Airline_tweets.csv’ saved [5771978/5771978]

In [3]:
df = pd.read_csv('Delta_Airline_tweets.csv')
display(df.head())

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,609,Delta,False,Sat Aug 06 01:44:03 +0000 2016,"@115818 Glad to check. Pls, DM your confirmati...",610,611.0
1,610,115818,True,Tue Oct 31 22:11:33 +0000 2017,@Delta DM sent,NaN,609.0
2,611,115818,True,Sat Aug 06 01:31:50 +0000 2016,@DELTA i booked my flight using delta amex car...,609,NaN
3,790,Delta,False,Tue Oct 31 22:27:38 +0000 2017,@115882 I'm sorry. The earlier flight may not ...,791,792.0
4,791,115882,True,Tue Oct 31 22:33:11 +0000 2017,@Delta I checked daily and flight 1403 was nev...,793,790.0

In [4]:
df.shape

(34315, 7)

In [6]:
# Create a new 'role' column based on the 'inbound' column
df['role'] = df['inbound'].apply(lambda x: 'Customer' if x else 'Service Provider')

# Get the list of existing columns
cols = df.columns.tolist()

# Move the 'role' column to the second position (index 2)
cols.insert(2, cols.pop(cols.index('role')))

# Reindex the DataFrame with the new column order
df = df[cols]

# Display the head of the modified DataFrame
display(df.head())

,tweet_id,author_id,role,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,609,Delta,Service Provider,False,Sat Aug 06 01:44:03 +0000 2016,"@115818 Glad to check. Pls, DM your confirmati...",610,611.0
1,610,115818,Customer,True,Tue Oct 31 22:11:33 +0000 2017,@Delta DM sent,NaN,609.0
2,611,115818,Customer,True,Sat Aug 06 01:31:50 +0000 2016,@DELTA i booked my flight using delta amex car...,609,NaN
3,790,Delta,Service Provider,False,Tue Oct 31 22:27:38 +0000 2017,@115882 I'm sorry. The earlier flight may not ...,791,792.0
4,791,115882,Customer,True,Tue Oct 31 22:33:11 +0000 2017,@Delta I checked daily and flight 1403 was nev...,793,790.0

# Task
Analyze the "Delta_Airline" file and build the conversations.

## Identify conversation starters

### Subtask:
Find the initial tweets that start a conversation (those with no `in_response_to_tweet_id`).

**Reasoning**:
Filter the dataframe to find tweets with no response, which signify the start of a conversation. Store the results in a new dataframe and display the head.

In [7]:
conversation_starters_df = df[df['in_response_to_tweet_id'].isnull()]
display(conversation_starters_df.head())

,tweet_id,author_id,role,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
2,611,115818,Customer,True,Sat Aug 06 01:31:50 +0000 2016,@DELTA i booked my flight using delta amex car...,609,NaN
6,792,115882,Customer,True,Tue Oct 31 21:33:48 +0000 2017,@Delta why wasn't earlier flight offered when ...,790,NaN
13,801,115883,Customer,True,Sun Oct 29 15:59:35 +0000 2017,"@Delta The ""change flight"" search option on yo...",799,NaN
15,803,115884,Customer,True,Tue Oct 31 21:33:27 +0000 2017,.@delta this has been my inflight studio exper...,802,NaN
24,814,115885,Customer,True,Tue Oct 31 16:37:26 +0000 2017,@Delta I'm flying JFK-MEX-MID tomorrow and you...,813,NaN

In [8]:
conversation_starters_df.shape

(10150, 8)

## Trace conversations

### Subtask:
For the first few conversation starters, trace the subsequent tweets using `tweet_id`, `response_tweet_id`, and `in_response_to_tweet_id` to build complete conversation threads.

**Reasoning**:
Iterate through the all the conversation starters and trace their replies to build complete conversation threads.

In [9]:
conversations = []
for index, starter_tweet in conversation_starters_df.iterrows():
    conversation = [starter_tweet]
    current_tweet_id = starter_tweet['tweet_id']

    while True:
        next_tweet = df[df['in_response_to_tweet_id'] == current_tweet_id]
        if not next_tweet.empty:
            # Assuming there's only one reply per tweet in a simple thread
            current_tweet = next_tweet.iloc[0]
            conversation.append(current_tweet)
            current_tweet_id = current_tweet['tweet_id']
        else:
            break
    conversations.append(conversation)

# Display the first conversation as an example
if conversations:
    print("First Conversation Thread:")
    for tweet in conversations[0]:
        display(tweet)

First Conversation Thread:

tweet_id                                                                 611
author_id                                                             115818
role                                                                Customer
inbound                                                                 True
created_at                                    Sat Aug 06 01:31:50 +0000 2016
text                       @DELTA i booked my flight using delta amex car...
response_tweet_id                                                        609
in_response_to_tweet_id                                                  NaN
Name: 2, dtype: object

tweet_id                                                                 609
author_id                                                              Delta
role                                                        Service Provider
inbound                                                                False
created_at                                    Sat Aug 06 01:44:03 +0000 2016
text                       @115818 Glad to check. Pls, DM your confirmati...
response_tweet_id                                                        610
in_response_to_tweet_id                                                611.0
Name: 0, dtype: object

tweet_id                                              610
author_id                                          115818
role                                             Customer
inbound                                              True
created_at                 Tue Oct 31 22:11:33 +0000 2017
text                                       @Delta DM sent
response_tweet_id                                     NaN
in_response_to_tweet_id                             609.0
Name: 1, dtype: object

## Structure the conversations

### Subtask:
Organize the identified tweets into the distinct conversation structures.

**Reasoning**:
Create a list to store the structured conversations and iterate through the traced conversations to organize them into a structured format.

In [18]:
import json
import numpy as np

# Custom encoder to handle NumPy types, including booleans
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.bool_):
            return bool(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return super(NpEncoder, self).default(obj)

structured_conversations = []

for i, conversation_thread in enumerate(conversations):  # Process all conversations
    structured_thread = {
        'conversation_number': i + 1,
        'tweets': []
    }
    for tweet in conversation_thread:
        structured_thread['tweets'].append({
            'tweet_id': tweet['tweet_id'],
            'author_id': tweet['author_id'],
            'role': tweet['role'],
            'inbound': tweet['inbound'],
            'created_at': tweet['created_at'],
            'text': tweet['text']
        })
    structured_conversations.append(structured_thread)

# Display the first structured conversation as an example
if structured_conversations:
    print("First Structured Conversation:")
    # Print the dictionary representation for clarity
    print(json.dumps(structured_conversations[0], indent=4, cls=NpEncoder))

First Structured Conversation:
{
    "conversation_number": 1,
    "tweets": [
        {
            "tweet_id": 611,
            "author_id": "115818",
            "role": "Customer",
            "inbound": true,
            "created_at": "Sat Aug 06 01:31:50 +0000 2016",
            "text": "@DELTA i booked my flight using delta amex card. Checking in now &amp; was being charged for baggage"
        },
        {
            "tweet_id": 609,
            "author_id": "Delta",
            "role": "Service Provider",
            "inbound": false,
            "created_at": "Sat Aug 06 01:44:03 +0000 2016",
            "text": "@115818 Glad to check. Pls, DM your confirmation number for assistance.  *QB https://t.co/6iDGBJAc2m"
        },
        {
            "tweet_id": 610,
            "author_id": "115818",
            "role": "Customer",
            "inbound": true,
            "created_at": "Tue Oct 31 22:11:33 +0000 2017",
            "text": "@Delta DM sent"
        }
    ]
}

In [19]:
import pymongo
import json
import numpy as np

# Replace with your MongoDB connection string
mongo_uri = "mongodb+srv://cia_db_user:qG5hStEqWkvAHrVJ@capstone-project.yyfpvqh.mongodb.net/?retryWrites=true&w=majority&appName=CAPSTONE-PROJECT"

db_name = "csai"  # Replace with your database name
collection_name = "Testing_Vivek"  # Replace with your collection name

# Custom encoder to handle NumPy types, including booleans
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.bool_):
            return bool(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        # Add handling for pandas Series to convert them to dictionary
        if isinstance(obj, pd.Series):
            return obj.to_dict()
        return super(NpEncoder, self).default(obj)

try:
    client = pymongo.MongoClient(mongo_uri)
    db = client[db_name]
    collection = db[collection_name]

    # Assuming 'structured_conversations' list is available from previous steps
    if 'structured_conversations' in locals() and structured_conversations:
        # Convert structured_conversations to a list of dictionaries that is JSON serializable
        # Ensure each item within structured_conversations is a dictionary
        serializable_conversations = json.loads(json.dumps(structured_conversations, cls=NpEncoder))

        insert_result = collection.insert_many(serializable_conversations)
        print(f"Successfully inserted {len(insert_result.inserted_ids)} conversations into MongoDB.")
    else:
        print("No structured conversations found to insert.")

except pymongo.errors.ConnectionFailure as e:
    print(f"Could not connect to MongoDB: {e}")
except NameError:
    print("The 'structured_conversations' variable was not found. Please ensure the previous steps to structure conversations have been executed.")
except Exception as e:
    print(f"An error occurred during insertion: {e}")

Successfully inserted 10150 conversations into MongoDB.

## Convert to JSON and Save

### Subtask:
Convert the structured conversations into a JSON format and save to a file.

**Reasoning**:
Use the `json` library to convert the `structured_conversations` list into a JSON formatted string and write it to a file.

In [ ]:
!pip install pytz

Requirement already satisfied: pytz in /usr/local/lib/python3.12/dist-packages (2025.2)

In [ ]:
import json
import numpy as np
from datetime import datetime
import pytz

# Get current time in Indian Standard Time (IST)
ist = pytz.timezone('Asia/Kolkata')
current_time_ist = datetime.now(ist)

# Generate filename with current date and time (IST) in requested format
formatted_time = current_time_ist.strftime('%Y%m%d_%H%M%S')
output_filename = f'Delta_Airline_{formatted_time}.json'

# Custom encoder to handle NumPy types, including booleans
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.bool_):
            return bool(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return super(NpEncoder, self).default(obj)

with open(output_filename, 'w') as f:
    json.dump(structured_conversations, f, indent=4, cls=NpEncoder)

print(f"Structured conversations saved to '{output_filename}'")

Structured conversations saved to 'Delta_Airline_20250916_150358.json'